<header class="banner-img full-height">
  <section>
    <nav class="nav">
      <span class="nav-title">b o b a n d r a</span>
    </nav>
  </section>
</header>
<section>
  <div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="./images/blogs.jpg"/>
        <div class="carousel-caption">
          <h1>BLOGS</h1>
          <p>
            <a href="http://bobandraa.github.io/blog-posts/blog_posts_index.html">CHECK OUT</a> BLOG POSTS FROM PHASE 0 OF DEV BOOTCAMP, SAN FRANCISCO.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="./images/dbc_caleb.jpeg"/>
        <div class="carousel-caption">
          <h1>placeholder</h1>
          <p>
            <a href="./blog-posts/blog_posts_index.html"></a> blah blah blah
          </p>
        </div>
      </div>
      <div class="item">
        <img src="./images/placeholder.jpg"/>
        <div class="carousel-caption">
          <h1>placeholder</h1>
          <p>
            <a href="./blog-posts/blog_posts_index.html"></a> blah blah blah
          </p>
        </div>
      </div>
      <div class="item">
        <img src="./images/placeholder1.jpg"/>
        <div class="carousel-caption">
          <h1>BLOGS</h1>
          <p>
            <a href="./blog-posts/blog_posts_index.html">CHECK OUT</a> BLOG POSTS FROM PHASE 0 OF DEV BOOTCAMP, SAN FRANCISCO.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="./images/phase3.jpg"/>
        <div class="carousel-caption">
          <h1>PHASE 3</h1>
          <h2> Final Project</h2>
          <p>
            <a href="./blog-posts/blog_posts_index.html">CHECK OUT</a> My final project:)
          </p>
        </div>
      </div>
    </div>
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
  </div>
</section>
<section id="section_three">
  <div class="container-fluid row">
    <div class="col-md-10 col-md-offset-1 entries ">
          <div class="pre_content">
            <img src="http://i.imgur.com/vO76cPR.png"/></a>
            <p class="blog_formatting">
              I am an aspiring web developer currently studying at Dev Bootcamp, San Francisco. I'm originally born and raised in L.A. &amp; have been crawling my way up the California coast! If I'm not behind screens, I am aimlessly spending time in nature. Once you get to know me, my addiction to music (especially live) will become obvious. Feel free to check out my rdio account <a href="http://www.rdio.com/people/noizkisses/">here</a>
            </p>
          </div>
        </div>
  </div>
</section>

<footer id="footer">
  <section>
    <h2>
      Get in touch with me
    </h2>
    <div class="social center_content">
    <ul class="social">
      <li>
       <a href='https://www.facebook.com/sandra.bobandra.1227'>
       <span aria-hidden="true" data-icon="&#xe602;"></span>
       </a>
     </li>
      <li>
        <a href='https://plus.google.com/118325061503822654615'></a>
        <span aria-hidden="true" data-icon="&#xe601;"></span>
     </li>
      <li>
       <a href='https://github.com/bobandraa'></a>
       <span aria-hidden="true" data-icon="&#xe604;"></span>
     </li>
      <li>
       <a href='https://www.linkedin.com/in/sandrancohen'></a>
       <span aria-hidden="true" data-icon="&#xe605;"></span>
     </li>
      <li>
       <a href='https://twitter.com/_Bobandra'></a>
       <span aria-hidden="true" data-icon="&#xe603;"></span>
     </li>
    </ul>
      <%= erb :_contact_form %>
    </div>
    </section>
  </footer>

